@using System.Globalization
@model Publications.Web.Models.Publications.OverviewModel

@{
    ViewData["Title"] = "Публикации";
}

<h2>Публикации</h2>

<h3>Авторы</h3>
@if (!Model.Authors.Any())
{
    <p>Отсутствуют</p>
}
else
{
    <table>
        <tr>
            <th></th>
            <th></th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Возраст</th>
        </tr>
        @foreach (var author in Model.Authors)
        {
        <tr>
            @using (Html.BeginForm("RemoveAuthor", "Publications", new { author.Id }, FormMethod.Post))
            {
                <td><a asp-action="EditAuthor" asp-route-id="@author.Id" class="btn btn-sm btn-primary">ред</a></td>
                <td><button type="submit" class="btn btn-sm btn-danger">уд</button></td>
                <td>@author.Surname</td>
                <td>@author.Name</td>
                <td>@author.Patronymic</td>
                <td>
                    @if (author.Birthday.HasValue)
                    {
                        @(((DateTime.Now - author.Birthday.Value).TotalDays / 365).ToString("0.##", CultureInfo.InvariantCulture))
                    }
                </td>
            }
        </tr>
        }
    </table>
}
<p><a asp-action="CreateAuthor">Добавить</a></p>

<h3>Публикации</h3>

@if (!Model.Publications.Any())
{
    <p>Отсутствуют</p>
}
else
{
    <table>
        <tr>
            <th></th>
            <th></th>
            <th>Публикация</th>
        </tr>
        @foreach (var publication in Model.Publications)
        {
        <tr>
            @using (Html.BeginForm("RemovePublication", "Publications", new { publication.Id }, FormMethod.Post))
            {
                <td><a asp-action="EditPublication" asp-route-id="@publication.Id" class="btn btn-sm btn-primary">ред</a></td>
                <td><button type="submit" class="btn btn-sm btn-danger">уд</button></td>
                <td>@publication.Name</td>
            }
        </tr>
            //<li><a>@publication.Name</a> @Html.ActionLink("уд.", "RemovePublication", new {publication.Id}, new {@class = "text-danger"})</li>
        }
    </table>
}
<p>@Html.ActionLink("Добавить", "CreatePublication")</p>

<hr />
@Html.ActionLink("Редактировать степени авторов", "GetAuthorsDegrees")
<br/>
@Html.ActionLink("Редактировать звания авторов", "GetAuthorsGrades")
<br />
@Html.ActionLink("Редактировать должности авторов", "GetAuthorsPositions")
<br />
@Html.ActionLink("Редактировать места публикаций", "GetPublicationPlaces")
<br />
@Html.ActionLink("Редактировать типы публикаций", "GetPublicationTypes")
